.editor-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.profile-data-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-field-editor {
    display: flex;
    flex-direction: column;
    min-width: 235px;
    max-width: 235px;
}

.profile-info-display {
    display: flex; 
}

.profile-info {
    min-width: 200px;
    max-width: 200px;
    font-size: 18px;
    padding: 0px;
}

.profile-info-value {
    border: 2px solid rgb(241, 239, 239);
}

.profile-info-input {
    font-family: 'Poppins';
}

.profile-error-display {
    font-weight: 800;
    color: red;
}

.profile-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-block: 30px;
}

@media only screen and (max-width: 600px) {

    .editor-container {
        flex-direction: column;
    }

}