.order-display {
    background-color: #365486;
    padding: 3%;
}

.order-display-header {
    color: white;
    margin: 0px;
}

.order-card {
    background-color: white;
    font-size: 16px;
    margin: 15px 0px 15px 0px;
}

.order-card-header {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 1fr 1fr;
    justify-items: center;
    align-items: center;
    min-height: 50px;   
}

.order-collapse {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    background-color: white;
    font-family: 'Poppins';
    font-size: 16px;
    border: 0px;
    cursor: pointer;
}


.toggle-button {
    font-size: 30px;
    transform: rotate(0deg);
    transition: transform .1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-button-transformed {
    transform: rotate(180deg);
}

.toggled {
    max-height: 0px;
    display: none;
}

.order-card-body {
    border-top: 2px solid black;
    padding-block: 10px;
}

.order-card-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    min-height: 60px;
}

.order-image {
    max-width: 60px;
    max-height: 60px;
    height: auto;
    width: auto;
}

@media only screen and (max-width: 950px) {

    .order-card-header {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }
}